.menulist{
    width: 100%;
}
/*.menulist div{*/
    /*float:left;*/
/*}*/
.title{
    width: 100%;
    height: 50px;
    background: #F5F5DC;
    /*background: #e6e6e6;*/
    border:1px solid #ccc;
}
.title p{
    line-height: 50px;
    text-align: center;
}
.admin-content{
    position:relative;
}
.menulist_content{
    width: 100%;
}
.least_height{
    /*height: 413px;*/
    float:left;
}
.menulist_foot{
    position:absolute;
    bottom:14px;
}
.menulist_foot button{
    margin-left: 15px;
    border:1px solid transparent;
}
select{
    display:block;
}
.am-list-extend li{
    padding-left:20px;
}
.am-list-extend li a{
    display:block;
}
.am_icon_css{
    width: 20px;
    position:absolute;
    left:20px;
    top:0;

}
.add-menu-btn{
    float:right;
}

.add_menu{
    width: 80%;
    margin-left:20px;
}
.btn_content{
    width: 40px;
    height: 25px;
    float:right;
    overflow: hidden;
}
.menu_btn{
    margin-left:-13px;
    margin-top:-9px;
}
.menu_icon{
    position:absolute;
    right:60px;
    color:#ccc;
    margin-right:2px;
}
.am-form-group{
    height: 43px;
}
.input_menu{
    height: 43px;
    line-height: 43px;
    padding:0;
}
.am-u-sm-9{
    padding:0;
}
.radio_am_extent{
    height: 43px;
    padding-top:7px;
    padding-right:205px;
}
.am-radio-inline input{
    margin-top:7px;
}

/*.am-form-group .input_menu{*/
/*position:absolute;*/
    /*left:0;*/
    /*margin-left:20px;*/
/*}*/
/*.input_menu_input{*/
    /*margin-top:7px;*/
/*}*/
/*#doc-vld-name-2,#doc-vld-url-2{*/
    /*width: 420px;*/
    /*height: 43px;*/
    /*margin-lecf:30px;*/
/*}*/
/*.am-form-group .input{*/
    /*margin-left:70px;*/
    /*width: 300px;*/
/*}*/


