*{
    margin:0;
    padding:0;
}
.am-header-extend{
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
}
.am-header-extend div{
    maigin:0;
    padding: 0;
}
#title-1{
    width: 90px;
    height: 49px;
    margin:0 auto;
}
#title-1 h1{
    margin:0 auto;
}
#usr-sbm-s,#usr-sbm{
    color: #ff8200;
}
#usr-sbm>.am-disabled{
    color: rgba(68, 68, 68, 3);
}
.am-header-right-extend{
    margin-right:-20px;
}
.am-header-left-extend{
    margin-left: -20px;
}
.am-dropdown-extend{
    width:40%;
    margin: 0 auto;
}
#usersay div{
    margin:0;
}
textarea{
    border:none;
    width: 100%;
    margin: 8px 0 8px 0;
    padding:8px 15px 8px 15px;
}
.am-panel-extend{
<<<<<<< HEAD
    background: #f9f9f9;
    height: 50px;
=======
>>>>>>> origin/master
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 10px;
}
.am-panel-extend i{
    padding:0;
<<<<<<< HEAD
    margin: 8px 0 0 25px;
=======
    margin: -5px 0 0 5px;
>>>>>>> origin/master
}
#navbar{
    padding:6px;
}
#navbar a{
    margin:2px;
}
.am-form-group-extend{
    border-top:1px solid #ccc;
    margin-bottom: 5px;
}
#usr-say-leg{
    display:block;
    width: 100px;
    height: 60px;
    margin:5px 0px 0px 0px;
    float:right;
}
#usr-say-leg div{
    float: left;
    width: 50px;
    height: 40px;
}
#usr-say-leg p{
    padding-top:3px;
    display: block;
<<<<<<< HEAD
    width: 50px;
    height: 40px;
    font-size: 20px;
=======
    width: 30px;
    height: 30px;
    font-size: 10px;
>>>>>>> origin/master
    /*line-heigh:30px;*/
}
.usr-say-leg-2{
    text-align: right;
}
.maxlegcss p{
    color:#dd514c;
}
#imgwall{
    width: 100%;
}
#imgwall div{
    margin:6px 0 0 6px;
    float: left;
}
#addimg{
    width: 100px;
    height: 100px;
    border: 1px dashed #ccc;
}
#imgwall .imgnav{
    width: 100px;
    height: 100px;
    background: blue;
}