.Publish{
    margin-top:10px;
}
#users :hover{
    cursor:pointer;
}
#btnname {
    width: 200px;
    height: 40px;
    margin:0 auto;
}
#btnname .am-btn{
    width: 200px;
    height: 40px;
}
#registration{
    position: relative;
    margin-top:20px;
}
#registration p{
    position:absolute;
}
#headtle{
    margin-left:55px;
}#headtle img{
     width: 30px;
     height: 29px;
    margin: 0 0 10px 5px;
 }


