hr{
    padding:0;
}
#users :hover{
    cursor:pointer;
}
#btnname {
    width: 200px;
    height: 40px;
    margin:0 auto;
    margin-top:30px;
}
.userphone{
    position:relative;
}
.usercont{
    width: 100%;
    height: 30px;
    position:absolute;
    left:10px;
    top:10px;
}
#btnname .am-btn{
    width: 200px;
    height: 40px;
}
#registration{
    position: relative;
    margin-top:20px;
}
#registration p{
    position:absolute;
}
#headtle{
    margin-left:55px;
}#headtle img{
     width: 30px;
     height: 29px;
    margin: 0 0 10px 5px;
 }
#registration{
    height: 50px;
}
.am-duoshuo{
    background:#fff;
}
.advertising{
    width: 100%;
    background:#fff;

}
.advertising p{
    margin:0;
    text-align: center;
    font-size:12px;
}
.advertising{
    padding:10px;
}
.advertising .brand{
    font-size:14px;
}
.advertising .wx-title{
    margin:10px 0;
}
.qrcode{
    width: 260px;
    height: 260px;
    margin:0 auto;
}
.qrcode img{
    width: 260px;
    height: 260px;
}

