body{
    background: #fff;
}
hr{
    padding:0;
}
#users :hover{
    cursor:pointer;
}
#btnname {
    width: 200px;
    height: 40px;
    margin:0 auto;
    margin-top:20px;
}
.userphone{
    position:relative;
}
.usercontent{
    position:absolute;
    left:0;
    top:0;
}
.usercontents{
    position:absolute;
    margin-top:0;
    left:0;
    top:0;
}
#btnname .am-btn{
    width: 200px;
    height: 40px;
}
#registration{
    position: relative;
    margin-top:20px;
}
#registration p{
    position:absolute;
}
#headtle{
    margin-left:55px;
}#headtle img{
     width: 30px;
     height: 29px;
    margin: 0 0 10px 5px;
 }
#registration{
    height: 50px;
}

