hr{
    padding:0;
}
body{
    background: #fff;
}
#users :hover{
    cursor:pointer;
}
#btnname {
    width: 200px;
    height: 40px;
    margin:0 auto;
    margin-top:30px;
}
.userphone{
    position:relative;
}
.usercont{
    width: 100%;
    height: 30px;
    position:absolute;
    left:10px;
    top:10px;
}
#btnname .am-btn{
    width: 200px;
    height: 40px;
}
#registration{
    position: relative;
    margin-top:20px;
}
#registration p{
    position:absolute;
}
#headtle{
    margin-left:55px;
}#headtle img{
     width: 30px;
     height: 29px;
    margin: 0 0 10px 5px;
 }
#registration{
    height: 50px;
}
.am-duoshuo{
    background:#fff;
}
.advertising{
    width: 100%;
    background:#fff;

}
.advertising p{
    margin:0;
    text-align: center;
    font-size:12px;
}
.advertising{
    padding:10px;
}
.advertising .brand{
    font-size:14px;
}
.advertising .wx-title{
    margin:10px 0;
}
.qrcode{
    width: 200px;
    height: 200px;
    margin:0 auto;
}
.qrcode img{
    width: 200px;
    height: 200px;
}
/*yixiaweipinglun^^^^^^^^*/
.list_extent{
    padding-right:10px;
}
/*.guanlian{
	height:50px;
}*/
.relation{
    width: 100%;
    padding:5px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-left: 3px solid #ccc;
}
.relationcontent p{
    margin:0;
    margin-left:10px;
    display:block;
    float:left;
    color: #999;
    font-size: 14px;
}

.relationcontent .name{
    font-weight: 700;
}
.relationcontent .layer{
    float:right;
    margin-right:10px;
}
.relationsay{
    padding-top:20px;
    padding-left: 50px;
}
.relationsay p{
    margin:0;
}
.toolbar i{
    margin-left:10px;
    font-style:normal;
    font-size:12px;
    color:#999;;
}
.relation i{
    margin-left:5px;
}

.textarea{
    width: 100%;
    padding:10px;
}
.textarea textarea{
    width: 100%;
    border:none;
}
.publish{
    width: 100%;
    height: 41px;
    border-top:1px solid #ccc;
    background: #f8f8f8;
}
.publish button{
    float:right;
}
.am-comment{
    background: #fff;
    margin-top:0;
}
#am-comment-extend{
    list-style-type: none;
    margin:0;
}
.replypublish2{
    padding:0 10px 10px 10px;
}
.am-comment-extend2{
    padding:0 10px 0 0;
    margin-bottom:20px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^*/

/*.close{*/
    /*display:none;*/
/*}*/