*{
    margin:0;
    padding:0;
}
.am-header-right-extend{
    margin-right:-20px;
}
.am-header-left-extend{
    margin-left: -20px;
}
.am-dropdown-extend{
    width:40%;
    margin: 0 auto;
}
#usersay div{
    margin:0;
}
textarea{
    border:none;
    width: 100%;
    margin-bottom: 5px;
}
.am-panel-extend{
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 10px;
}
.am-panel-extend i{
    padding:0;
    margin: -5px 0 0 5px;
}
#navbar{
    padding:6px;
}
#navbar a{
    margin:2px;
}
.am-form-group-extend{
    border-top:1px solid #ccc;
    margin-bottom: 5px;
}
#usr-say-leg{
    display:block;
    width: 60px;
    height: 30px;
    margin-right:5px;
    float:right;
}
#usr-say-leg div{
    float: left;
    width: 30px;
    height: 30px;
}
#usr-say-leg p{
    padding-top:3px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 10px;
    /*line-heigh:30px;*/
}
.usr-say-leg-2{
    text-align: right;
}
.maxlegcss p{
    color:#dd514c;
}
#imgwall{
    width: 100%;
}
#imgwall div{
    margin:6px 0 0 6px;
    float: left;
}
#addimg{
    width: 100px;
    height: 100px;
    border: 1px dashed #ccc;
}
#imgwall .imgnav{
    width: 100px;
    height: 100px;
    background: blue;
}