*{
    margin:0;
    padding:0;
}
.am-header-right-extend{
    margin-right:-20px;
}
.am-header-left-extend{
    margin-left: -20px;
}
.am-dropdown-extend{
    width:40%;
    margin: 0 auto;
}

#usersay div{
    margin:0;
}
textarea{
    width: 100%;
}
.am-panel-hd-extend{
    border: 1px solid #ccc;
}
#navbar{
    border-bottom: 1px solid #ccc;
}
#usr-say-leg{
    display:block;
    width: 120px;
    height: 30px;
    margin: 0;
    float:right;
}
#usr-say-leg div{
    float: left;
    width: 60px;
    height: 30px;
}
#usr-say-leg p{
    display: block;
    width: 60px;
    height: 30px;
}
.usr-say-leg-2{
    text-align: right;
}
.maxlegcss p{
    color:#dd514c;
}