.am-list-extend li{
    position: relative;
    padding-left: 20px;
}

.am-list-extend p{
    margin: 5px 0 0 50px;
    padding:0;
    display: block;
    width: 120px;
    height: 20px;
    position: absolute;
    top:10px;
}
.am-list-extend .am-icon{
    color:rgb(108, 218, 9);
    float:right;
    margin-right:20px;
    position: absolute;
    top:0;
    right:0;
}
#users :hover{
    cursor:pointer;
}
#life{
    color:rgb(50,137,199);
}