.am-list-extend .shop_list{
    position: relative;
    height: 62px;
    padding-left: 20px;
    padding-right: 50px;
}
.shopcontent{
    width: 100%;
    height: 40px;
}
.am-list-extend img{
    position:absolute;
    top:10px;
}
.am-list-extend p{
    margin:5px 0 0 50px;
    padding:0;
}
.am-list-extend .am-icon{
    color:#7CFC00;
    float:right;
    margin-right:20px;
    position: absolute;
    top:0;
    right:0;
}
#users :hover{
    cursor:pointer;
}
#life{
    color:rgb(50,137,199);
}