#userheard {
    height: 130px;
    width: 130px;
    margin: 0 auto;
    margin-top:10px;
    border: 1px solid #ccc;
    border-radius: 65px;
}
#username {
    width: 100px;
    margin: 0 auto;
    margin-top:15px;
}
#username p{
    text-align: center;
    margin:0;
}
#content{
    margin-top:20px;

}

#content li:hover {
    cursor: pointer;
}

#content .icon-1 {
    width: 26px;
    margin: 0 20px 0 10px;
}

#content .icon-2 {
    float: right;
}
#users :hover{
    cursor:pointer;
}
#photolibrary {

}