.am-header-extend{
    width: 100%;
    height: 49px;
    position: relative;
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
}
.am-header-extend div{
    float: left;
    width: 100px;
    padding: 0;
}
#title-1{
    position: absolute;
    left:50%;
    margin-left:-50px;
    height: 49px;
}
#title-1 h1{
    text-align: center;
}
#haederleft ,#haederright{
    width: 82px;
}
#haederright{
    position:absolute;
    right:-5px;
}
#usr-sbm-s,#usr-sbm-sub{
    line-height: 28px;
    color: #ff8200;
}
#usr-sbm-s{
    float:left;
}
#usr-sbm-sub{
    margin-left:13px;
}
#usr-sbm-s:hover,#usr-sbm-sub:hover{
    text-decoration: none;
}
#content .am-form-group{
    position:relative;
}

#content .title{
    width: 315px;
    height: 20px;
    margin:20px auto;
}
#content div{
    position:relative;
}
#content p{
    padding:0;
    margin:0;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left:0;
}
/*#content .title{*/
/*margin: 20px 0 20px 0;*/
/*}*/
